.single-post-image img {
    width: 100%;
    height: auto;
}

.single-post-content {
    padding: 20px;
    background: #fff;
    margin-bottom: 25px;
}

.single-post-content.text-block iframe {
    position: relative;
    width: calc(100% + 40px);
    left: -20px;
}

.content-wrap-posts-single {
    background: #fff;
}

.single-post-meta {
    padding: 20px;
    background: #fff;
}

#breadcrumbs,
.single-post-meta-special,
.single-post-meta-title{
    margin-bottom: 25px;
}

.single-post-meta-special-cat a {
    background-color: #828393;
    color: #efefef;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    font-size: 16px;
}

.single-post-meta-title h1 {
    font-size: 38px;
}

.section-title {
    margin-bottom: 25p;
    text-align: center;
}

.related-posts {
    padding: 20px;
    background: #fff;
}

.section-title {
    margin-bottom: 25px;
}

.related-posts .post-image {
    height: auto;
    min-height: inherit;
}

.related-posts .post {
    margin-bottom: 0;
}